/* .woocommerce-billing-fields input , .woocommerce-billing-fields .select2-selection {
  background: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px);   
  border-radius: 12px !important;
  border: 1px solid rgba(255, 255, 255, 0.25) !important; 
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);  
padding: 7px;
} */

body.woocommerce-checkout , body.woocommerce-cart {
    background-color: white !important;
}